---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import SidebarBlog from '../../components/SidebarBlog.astro';

const posts = await getCollection('blog');
---

<MainLayout title="Blog | David Hoang">
  <div class="container">
    <div class="content-grid">
      <div class="posts-list">
        <h1>Blog</h1>
        <ul class="posts-list">
          {posts.map(post => (
            <li>
              <a href={`/blog/${post.slug}`}>
                <div class="post-row" style="display: flex; justify-content: space-between; align-items: center;">
                  {post.data.title}
                  <time datetime={post.data.pubDate}>
                    {new Date(post.data.pubDate).toLocaleDateString()}
                  </time>
                </div>
              </a>
              </a>
            </li>
          ))}
        </ul>
      </div>
      <SidebarBlog />
    </div>
  </div>
  
  
</MainLayout>

<style>
  .content-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
  }

  .posts-list {
    list-style: none;
    padding: 0;
  }

  .posts-list li {
    
  }

  .posts-list a {
    text-decoration: none;
    color: inherit;
  }

  .posts-list h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  time {
    color: #666;
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    .content-grid {
      grid-template-columns: 1fr;
    }
  }
</style> 