---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About">
  <div class="container">
    <div class="hero-title">
      <h1>About</h1>
    </div>
    <div class="hero-grid">
      <div>
        <p>I'm David—known as DH in the workplace because the abundant colleagues with the same first name. I'm early in my career with 20 years experience in the industry. The love for design and software started when I graduated from college with my BFA in Drawing and Painting. My studies encouraged multi-disciplinary studies and led to me taking electives in Computer Science, Art History,  and the Humanities. Upon matriculation, I took what's now called a gap year to prepare for my MFA. I never did, and instead started designing app interfaces for a new device called the iPhone.</p>

        <p>Fast forward to today, I'm investing and building tools that revolutionize the internet. I'm currently VP- Head of Design, AI at Atlassian, independent angel investor, and advisor for startups. Previously I was VP of Marketing and Design at Replit and the first Head of Design at One Medical and Webflow.</p>

        <p>I grew up in the Pacific Northwest and now call California home in Palm Springs and San Francisco.</p>
        
      </div>
      
      <div>
        <!-- You can add an image here -->
        <img src="/images/img-dh.png" alt="Photo of David" width="500" />
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .content-section {
    margin: 2rem 0;
  }
  
  .about-image-placeholder {
    width: 100%;
    height: 400px;
    background: #f5f5f5;
    border-radius: 12px;
  }
</style> 