---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="Default layout"
  description="Shortcut to the default site theme. You are redirected to the home page."
  robots="noindex, nofollow"
>
  <p class="sr-only">Applying default layout and redirecting to the home page.</p>
</MainLayout>
