---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p>&copy; {currentYear} David Hoang. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    padding: 2rem 0;
    background: #f5f5f5;
  }
</style> 