.hero-big-image {
  width: auto;
  min-height: 500px;

  background-color: var(--lightBlue-c650f005);
  background-image: url("https://cdn.prod.website-files.com/5d9fbe1d951135a3d136b12d/60503626ce9928628b258fce_img-2021-03-15-blog-cover.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .hero-big-image {
    width: auto;
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-big-image {
    background-size: contain;
  }
}

@media screen and (max-width: 479px) {
  .hero-big-image {
    min-height: 200px;

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;

    object-fit: cover;
  }
}

.hero-big-image.home {
  min-height: auto;
  padding-top: 36px;
  padding-bottom: 36px;

  border-bottom: 2px solid var(--softGrey-3bea014b);

  background-color: transparent;
  background-image: none;

  font-family: 'Playfair Display';
}

@media screen and (min-width: 1920px) {
  .hero-big-image.home:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 1280px) {
  .hero-big-image.home {
    overflow: hidden;
    min-height: 0px;

    border-style: none;
    border-width: 0px;
    border-color: hsla(0, 0.00%, 70.00%, 1.00);
    border-radius: 1px;
  }
}

@media screen and (max-width: 767px) {
  .hero-big-image.home {
    background-color: transparent;
  }
}

@media screen and (max-width: 479px) {
  .hero-big-image.home {
    background-color: transparent;
    background-image: none;
  }
}

.hero-big-image.newsletter {
  background-image: url("https://cdn.prod.website-files.com/5d9fbe1d951135a3d136b12d/5f8c6fbd824476811be96101_img-cover.JPG");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

@media screen and (min-width: 1280px) {
  .hero-big-image.newsletter {
    min-height: 560px;
  }
}

@media screen and (max-width: 991px) {
  .hero-big-image.newsletter {
    min-height: 560px;
  }
}

@media screen and (max-width: 767px) {
  .hero-big-image.newsletter {
    object-fit: cover;
  }
}

@media screen and (max-width: 479px) {
  .hero-big-image.newsletter {
    min-height: 360px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

.newsletter {
  display: flex;
  padding: 24px;
  background-color: hsla(0, 0.00%, 98.04%, 1.00);
}

@media screen and (min-width: 1280px) {
  .newsletter {
    min-height: 260px;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--white-2b2d9368);
  }
}