.homeblogpost {
  margin-top: 0px;
  padding: 0px;

  border-radius: 0px;

  background-color: transparent;

  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.bookshelf-collection {
  margin-top: 24px;
}

@media screen and (min-width: 1280px) {
  .bookshelf-collection {
    margin-top: 24px;
  }
}

.collection-wrapper {
  margin-top: 24px;
}

.collection-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  border-bottom: 0px none black;
}

@media screen and (min-width: 1280px) {
  .collection-list {
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .collection-list {
    grid-template-columns: 1fr;
  }
}

.collection-item-blog {
  display: block;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: flex-start;
  flex-wrap: nowrap;

  border-bottom: 1px none black;
  border-radius: 0px;

  background-color: transparent;
}

@media screen and (max-width: 479px) {
  .collection-item-blog {
    border-bottom-style: none;
    border-bottom-width: 0px;
  }
}

.newsletter-linkblock {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
  transition: filter 200ms ease;
}

.collection-card-image {
  position: static;

  display: flex;
  overflow: auto;
  height: auto;
  max-height: 400px;
  max-width: 100%;
  min-height: 400px;
  min-width: 100%;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;

  border: 1px solid var(--lightGray-d49e5c84);

  background-color: hsla(53, 100.00%, 68.97%, 1.00);
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;

  transition: opacity 375ms ease;

  background-clip: content-box;
  -webkit-text-fill-color: inherit;

  cursor: pointer;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (min-width: 1280px) {
  .collection-card-image {
    display: flex;
    overflow: hidden;
    height: 450px;
    max-height: none;
    min-height: auto;
    justify-content: space-between;

    background-image: url("https://cdn.prod.website-files.com/5d9fbe1d951135a3d136b12d/61ca4cefecc5d856474851ef_img-background-blog.jpg");
    background-position: 50% 50%;
    background-size: cover;

    background-clip: content-box;
    -webkit-text-fill-color: inherit;

    object-fit: cover;
  }
}

.collection-card-image:hover {
  box-shadow: 1px 1px 8px 0 hsla(0, 0.00%, 0.00%, 0.30);
  opacity: 0.62;
}

@media screen and (max-width: 991px) {
  .collection-card-image {
    overflow: hidden;
    max-height: none;
    min-height: 600px;
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
  }
}

@media screen and (max-width: 479px) {
  .collection-card-image {
    max-height: none;
    min-height: 400px;
  }
}

.essay-cover-div {
  flex: 1;
}

.div-block-84 {
  display: flex;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;

  border: 1px none black;

  background-color: hsla(0, 0.00%, 100.00%, 0.97);
}

.collection-item-blog-text {
  overflow: auto;
  font-family: Alegreya;
  font-size: 1.25rem;
  font-weight: 500;
}

@media screen and (min-width: 1280px) {
  .collection-item-blog-text {
    font-weight: 500;
  }
}

.text-date {
  margin-bottom: 16px;
  font-family: 'Hankengrotesk Variablefont Wght';
  color: var(--gray-6b2f5d78);
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .text-date {
    text-align: left;
  }
}