.hero-big-image {
  width: auto;
  min-height: 500px;

  background-color: var(--lightBlue-c650f005);
  background-image: url("https://cdn.prod.website-files.com/5d9fbe1d951135a3d136b12d/60503626ce9928628b258fce_img-2021-03-15-blog-cover.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .hero-big-image {
    width: auto;
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-big-image {
    background-size: contain;
  }
}

@media screen and (max-width: 479px) {
  .hero-big-image {
    min-height: 200px;

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;

    object-fit: cover;
  }
}

.hero-big-image.home {
  min-height: auto;
  padding-top: 36px;
  padding-bottom: 36px;

  border-bottom: 2px solid var(--softGrey-3bea014b);

  background-color: transparent;
  background-image: none;

  font-family: 'Playfair Display';
}

@media screen and (min-width: 1920px) {
  .hero-big-image.home:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 1280px) {
  .hero-big-image.home {
    overflow: hidden;
    min-height: 0px;

    border-style: none;
    border-width: 0px;
    border-color: hsla(0, 0.00%, 70.00%, 1.00);
    border-radius: 1px;
  }
}

@media screen and (max-width: 767px) {
  .hero-big-image.home {
    background-color: transparent;
  }
}

@media screen and (max-width: 479px) {
  .hero-big-image.home {
    background-color: transparent;
    background-image: none;
  }
}

.hero-big-image.newsletter {
  background-image: url("https://cdn.prod.website-files.com/5d9fbe1d951135a3d136b12d/5f8c6fbd824476811be96101_img-cover.JPG");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

@media screen and (min-width: 1280px) {
  .hero-big-image.newsletter {
    min-height: 560px;
  }
}

@media screen and (max-width: 991px) {
  .hero-big-image.newsletter {
    min-height: 560px;
  }
}

@media screen and (max-width: 767px) {
  .hero-big-image.newsletter {
    object-fit: cover;
  }
}

@media screen and (max-width: 479px) {
  .hero-big-image.newsletter {
    min-height: 360px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

.newsletter {
  display: flex;
  padding: 24px;
  background-color: hsla(0, 0.00%, 98.04%, 1.00);
}

@media screen and (min-width: 1280px) {
  .newsletter {
    min-height: 260px;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--white-2b2d9368);
  }
}

.hero {
  display: flex;
  overflow: hidden;
  height: auto;
  min-height: auto;
  padding: 24px 0px 0px;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;

  background-color: transparent;

  opacity: 1;
}

@media screen and (min-width: 1920px) {
  .hero:hover {
    background-color: var(--dhYellow-7a062667);
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: auto;
    min-height: 0vh;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    height: auto;
    justify-items: center;
    align-items: end;
    grid-auto-flow: row;
    grid-template-areas: "Area-David"
    "Area-Text";
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.container-main-hero {
  display: flex;
  width: 100%;
  max-width: 960px;
  min-height: 0px;
  margin: 0px auto;
  padding: 24px 36px;
  flex-direction: column;
  align-self: center;
  flex: 0 auto;

  background-color: transparent;

  cursor: default;
}

@media screen and (min-width: 1280px) {
  .container-main-hero {
    max-width: 1140px;
    margin: 0px auto;
    padding: 24px 36px 0px;
  }
}

@media screen and (max-width: 991px) {
  .container-main-hero {
    padding: 36px;
  }
}

@media screen and (max-width: 767px) {
  .container-main-hero {
    padding-right: 36px;
    padding-left: 36px;
  }
}

@media screen and (max-width: 479px) {
  .container-main-hero {
    padding: 0px;
  }
}

.div-block-43 {
  padding-top: 0px;
}