.list {
  padding-left: 16px;
  font-family: 'Crimson Text';
  font-size: 18px;
  line-height: 1.6;
  list-style-type: square;
}

@media screen and (min-width: 1280px) {
  .list {
    font-family: 'Crimson Text';
    color: hsla(0, 0.00%, 0.00%, 1.00);
    list-style-type: square;
  }
}

@media screen and (max-width: 991px) {
  .list {
    list-style-type: disc;
  }
}

.list-item {
  margin-bottom: 8px;

  transform: translate(0px, 0px);
  transition: background-color 300ms ease;

  font-family: 'Hankengrotesk Variablefont Wght';
  font-weight: 400;
  list-style-type: disc;
}

@media screen and (min-width: 1280px) {
  .list-item {
    color: var(--gray-6b2f5d78);
    line-height: 1.6;
  }
}

@media screen and (max-width: 991px) {
  .list-item {
    margin-bottom: 12px;
    color: var(--gray-6b2f5d78);
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 479px) {
  .list-item {
    margin-bottom: 12px;
    font-size: 1.2rem;
  }
}