.componentnewsletter {
  overflow: auto;
  margin-top: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  align-self: stretch;

  border-radius: var(--medium);
}

@media screen and (min-width: 1280px) {
  .componentnewsletter {
    border-radius: 0px;
  }
}

@media screen and (max-width: 479px) {
  .componentnewsletter {
    padding-top: 0px;
  }
}

.html-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}