.sidebar-about {
  padding: 24px;

  border-radius: var(--medium);

  background-color: var(--white-2b2d9368);
  background-image: url("https://cdn.prod.website-files.com/5d9fbe1d951135a3d136b12d/63aa2f49aba7a8e56378b8d6_img-noise.JPG");
  background-position: 0px 0px;
  background-size: 500px;

  box-shadow: 6px 6px 0 0 var(--light-gray);
}

@media screen and (max-width: 991px) {
  .sidebar-about {
    position: static;
    border-left-style: none;
  }
}

@media screen and (max-width: 479px) {
  .sidebar-about {
    margin-bottom: 24px;
  }
}

.sidebar {
  margin-left: 0px;
  border-left: 1px none var(--lightGray-40dffec4);
}

@media screen and (max-width: 991px) {
  .sidebar {
    padding-left: 0px;
    border-left-style: none;
    border-left-width: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-blog-image:hover {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .sidebar-blog-image {
    display: inline-block;
    padding: 64px 96px;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-blog-image {
    padding: 56px;
  }
}

.sidebar-image {
  margin-bottom: 24px;
  border-radius: var(--medium);
}

.collection-item-14 {
  line-height: 1.2;
}

@media screen and (min-width: 1280px) {
  .collection-item-14 {
    font-size: 1rem;
  }
}

.link-blogroll {
  direction: ltr;
  font-family: 'Hankengrotesk Variablefont Wght';
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  white-space: normal;

  cursor: pointer;
}

.link-blogroll:hover {
  text-decoration: underline;
}