.nav-navbar {
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: flex;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  background-color: var(--white-2b2d9368);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  font-size: 16px;
  line-height: 44px;

  opacity: 90%;
}

@media screen and (min-width: 1280px) {
  .nav-navbar {
    top: 8px;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .nav-navbar {
    background-color: var(--white-2b2d9368);
  }
}

@media screen and (max-width: 479px) {
  .nav-navbar {
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 4px;
    padding-left: 0px;
  }
}

.nav-container {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex: 1;

  border-radius: var(--medium);

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1280px) {
  .nav-container {
    display: flex;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: space-between;
    align-self: center;
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  .nav-container {
    display: flex;
    max-width: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-2b2d9368);
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    display: flex;
    max-width: 568px;
    padding-right: 12px;
    padding-left: 12px;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
  }
}

@media screen and (max-width: 479px) {
  .nav-container {
    display: flex;
    padding: 0px 12px;
    justify-content: space-between;
    align-items: center;
  }
}

.brand {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .brand {
    display: flex;
    padding-left: 0px;
    align-items: center;
  }
}

.nav-logo {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  align-self: center;
  flex: 1;

  filter: grayscale(100%);

  transition: all 500ms ease;

  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .nav-logo:hover {
    background-color: var(--teal-469cc3c8);
  }
}

.nav-logo:hover {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .nav-logo {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .nav-logo {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--white-2b2d9368);
  }
}

.nav-menu {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: flex-end;
  align-items: center;
  flex: 0 auto;

  font-family: 'Source Sans Pro';
}

@media screen and (min-width: 1280px) {
  .nav-menu {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu {
    background-color: hsla(0, 0.00%, 93.33%, 1.00);
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    background-color: var(--lightGray-d49e5c84);
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    background-color: hsla(0, 0.00%, 93.33%, 1.00);
  }
}

.nav-link {
  padding: 8px 16px;
  align-self: center;

  border-radius: 50%;

  transition: all 500ms ease,opacity 200ms ease,border-radius 500ms ease,background-color 500ms ease;

  font-family: 'Hankengrotesk Variablefont Wght';
  line-height: 1.2;
  font-weight: 700;

  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .nav-link:global(.w--current) {
    font-weight: 700;
  }
}

@media screen and (min-width: 1920px) {
  .nav-link:global(.w--current):hover {
    color: #62108f;
  }
}

@media screen and (min-width: 1440px) {
  .nav-link:hover {
    background-color: var(--teal-469cc3c8);
    color: var(--black-defd3f29);
  }
}

@media screen and (min-width: 1440px) {
  .nav-link:global(.w--current) {
    font-weight: 700;
  }
}

@media screen and (min-width: 1280px) {
  .nav-link {
    font-weight: 700;
  }
}

@media screen and (min-width: 1280px) {
  .nav-link:global(.w--current) {
    font-weight: 700;
  }
}

.nav-link:hover {
  border-radius: 24px;
  background-color: hsla(206.39999999999998, 73.64%, 35.71%, 0.10);
  opacity: 1;
  color: hsla(206.39999999999998, 77.08%, 22.59%, 1.00);
  text-decoration: none;
}

.nav-link:focus {
  background-color: transparent;
  text-decoration: underline;
}

.nav-link:global(.w--current) {
  align-self: center;

  border-radius: var(--medium);

  background-color: hsla(0, 0.00%, 52.00%, 0.10);

  color: var(--black-defd3f29);
  line-height: 1.2;
  font-weight: 700;

  cursor: pointer;
}

.nav-link:global(.w--current):hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .nav-link {
    margin-right: 0px;
    padding: 24px;
    border-top: 1px solid var(--greyLight-48e9224d);
    border-radius: 0px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .nav-link:hover {
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 0px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link:global(.w--current) {
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 0px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (max-width: 479px) {
  .nav-link:global(.w--current) {
    font-family: 'Crimson Text';
    font-size: 18px;
    font-weight: 600;
  }
}

.menu-button {
  border-radius: 100px;
  background-color: var(--white-2b2d9368);
}

@media screen and (max-width: 991px) {
  .menu-button {
    margin-top: 0px;
    background-color: var(--white-2b2d9368);
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: hsla(127.49999999999997, 0.00%, 87.33%, 1.00);
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin-top: 0px;
    border-radius: 100px;
    background-color: var(--white-2b2d9368);
  }
}

@media screen and (max-width: 479px) {
  .menu-button {
    margin-top: 0px;
    background-color: var(--white-2b2d9368);
  }
}

.icon {
  color: var(--gray-6b2f5d78);
}

@media screen and (max-width: 991px) {
  .icon {
    color: var(--gray-6b2f5d78);
  }
}

@media screen and (max-width: 767px) {
  .icon {
    color: var(--gray-6b2f5d78);
  }
}