.nav-notes-sticky {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;

  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;

  border-radius: 20px;

  background-color: var(--lightGray-d49e5c84);

  font-size: 10px;
}

.link-7 {
  font-family: Questrial;
  font-weight: 400;
}