.nav-notes {
  display: flex;
  padding: 64px 128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--lightGray-d49e5c84);
}

.nav-notes-david {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 500px;
  background-color: hsla(0, 100.00%, 66.74%, 1.00);
}