.promo-zine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 8px solid var(--dhYellow-7a062667);
}

.div-block-77 {
  flex: 1;
}

.div-block-78 {
  padding: 24px;
  flex: 1;
}

.div-block-79 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .div-block-80 {
    margin-right: 24px;
  }
}

.button-primary-2 {
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--gray-6b2f5d78);

  background-color: var(--gray-6b2f5d78);

  font-family: Alegreya;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 1280px) {
  .button-primary-2 {
    display: block;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .button-primary-2:visited {
    color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

.button-primary-2:hover {
  background-color: var(--lightGray-d49e5c84);
  color: var(--gray-6b2f5d78);
}

.button-primary-2:visited {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .button-primary-2 {
    align-self: flex-start;
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  .button-primary-2 {
    align-self: stretch;
  }
}

@media screen and (max-width: 479px) {
  .button-primary-2 {
    align-self: stretch;
  }
}

.button-primary-2.bt-size-regular {
  display: inline-block;
  overflow: auto;
  width: 16vw;
  max-width: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;

  font-family: 'Hankengrotesk Variablefont Wght';
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .button-primary-2.bt-size-regular {
    align-self: center;
  }
}

.button-primary-2.bt-size-regular:hover {
  color: var(--black-defd3f29);
}

@media screen and (max-width: 991px) {
  .button-primary-2.bt-size-regular {
    display: flex;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .button-primary-2.bt-size-regular {
    display: flex;
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .button-primary-2.bt-size-regular {
    display: flex;
    width: auto;
    flex-direction: row;
  }
}