.div-block-113 {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: hsla(0, 0.00%, 0.00%, 1.00);
  text-align: center;
}

.text-block-20 {
  font-family: 'Hankengrotesk Variablefont Wght';
  color: var(--white);
  font-size: 1rem;
}

.link-10 {
  color: var(--white);
  text-decoration: underline;
}